<h1>Articles listing page</h1>

<table>
    <thead>
        <tr>
            <th>Tittle </th>
            <th>Desciprtion</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
    <% @articles.each do |article| %>
        <tr>
            <td><%=article.tittle%></td>
            <td><%=article.description%></td>
            <td>Placeholder</td>
        </tr>
    <% end %>
    </tbody>
</table>