
<div class="container " id ="home_container"> 
    <div class="jumbotron text-center text-white border border-dark rounded-1">
        <h1 class="display-2 center" >Ruby Blog</h1>
        <p class="lead center"></p>
        <p class ="center"></p>
        <a class="btn btn-warning btn-lg center" href="#" role="button">Sign up</a>
    </div>
</div>